//GLOBAL
.container{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    //background: yellow !important;
    @media(min-width:0px){
        width: 90% !important;
    }
    @media(min-width:319px){
        width: 85% !important;
    }
    @media(min-width:374px){
        width: 80% !important;
    }
    @media(min-width:424px){
        width: 85% !important;
    }
    @media(min-width:767px){
        width: 75% !important;
    }
    @media(min-width:1023px){
        width: 85% !important;
    }
    @media(min-width:1439px){
        width: 1500px !important;
    }
}

//COLOR
.textColor{
    color: black;
}

//FONTS
p{
    font-family: 'Poppins';
}

//HEADER
.header{
    position: relative;
    width: 100%;
    height: 2cm;
    box-shadow:  0px 2px 25px 0px rgba(0, 0, 0, 0.05);
    .header-cont{
        position: relative;
        width: 100%;
        height: 100%;
        .header-desktop{
            position: relative;
            display: flex;
            height: 100%;
            .header-desktop-left{
                position: relative;
                width: 5cm;
                height: inherit;
                .header-desktop-site-name-cont{
                    position: relative;
                    width: inherit;
                    height: inherit;
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    .header-desktop-site-name{
                        font-family: 'Poppins' !important;
                        font-size: 1.4em;
                        font-weight: 800;
                        text-wrap: nowrap;
                        margin: 0px;
                        padding: 0px;
                    }
                }
            }
            .header-desktop-right{
                position: relative;
                display: flex;
                align-items: center;
                width: auto;
                height: inherit;
                .header-desktop-navigation{
                    position: relative;
                    list-style-type: none;
                    display: flex;
                    width: auto;
                    padding: 0px;
                    margin: 0px;
                    li{
                        position: relative;
                        padding: 0px;
                        margin: 0px 6px;
                        padding: 0px 6px;
                        a{
                            text-wrap: nowrap;
                            text-decoration: none;
                            color: black;
                            font-family: 'Poppins';
                            font-size: 1em;
                        }
                        ul{
                            display: none;
                        }
                    }
                }
                .header-desktop-checkout-cont{
                    position: relative;
                    display: flex;
                    align-items: center;
                    height: inherit;
                    margin-left: 10px;
                    .header-desktop-checkout-btn{
                        position: relative;
                        display: flex;
                        border: 2px solid black;
                        border-radius: 100cm;
                        text-decoration: none;
                        padding: 5px 10px;
                        p{
                            font-family: 'Poppins';
                            padding: 0px;
                            margin: 0px;
                            font-size: 0.9em;
                            color: black;
                        }
                        .header-desktop-checkout-number-cont{
                            position: relative;
                            display: flex;
                            align-items: center;
                            text-align: center;
                            border-radius: 10cm;
                            background: black;
                            width: 20px;
                            height: 20px;
                            margin-left: 5px;
                            .header-desktop-checkout-number{
                                color: white;
                                font-size: 0.8em;
                                text-align: center;
                                margin: auto;
                                padding: 0px;
                            }
                        }
                    }
                }
            }
            .header-desktop-center{
                position: relative;
                width: 100%;
            }
            
        }
        .header-mobile{
            position: relative;
            display: none;
            height: 100%;
        }
    }
}

//HERO CAROUSEL
.hero{
    position: relative;
    width: 100%;
    height: 80vh;
    .hero-cont{
        position: relative;
        width: 100%;
        height: 80vh;
        .hero-fg-cont{
            position: absolute;
            bottom: 0px;
            z-index: 2;
            width: 100%;
            height: 2cm;
            margin: auto;
            .hero-marquee-cont{
                position: relative;
                display: flex;
                width: 100%;
                height: 2cm;
                //background: yellow;
                .hero-marquee-offset{
                    position: relative;
                    width: 10%;
                    height: 2cm;
                    background: white;
                }
                .hero-marquee{
                    position: relative;
                    width: 45%;
                    height: 2cm;
                    background: white;
                }
            }
            
        }
        .hero-bg-cont{
            position: relative;
            width: 100%;
            height: 80vh;
            z-index: 1;
            .hero-carousel{
                position: relative;
                width: 100%;
                height: 100%;
                .hero-carousel-slide{
                    position: relative;
                    overflow: hidden;
                    width: 100vw;
                    height: 80vh;
                    .hero-carousel-slide-img-mobile{
                        display: none;
                    }
                }
            }
        }
    }
}